<p id="notice"><%= notice %></p>
<table>
  <tr>
    <td> Book </td>
    <td> Quantity </td>
  </tr>
  <tr>
    <% @cart.line_items.each do |l| %>
      <td>
        <%=  l.book.title %>
      </td>
      <td>
        <%= l.quanity %>
        </td>
        </tr>
      <% end %>
      </table>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
